In [ ]:
import numpy as np
import pandas as pd
import io
from sklearn.preprocessing import StandardScaler

In [ ]:
#load in data
from google.colab import files
uploaded = files.upload()

Saving healthcare-dataset-stroke-data.csv to healthcare-dataset-stroke-data (3).csv

In [ ]:
#load in data
heart_stroke_df = pd.read_csv(io.BytesIO(uploaded['healthcare-dataset-stroke-data.csv']))
print(heart_stroke_df)

         id  gender   age  ...   bmi   smoking_status stroke
0      9046    Male  67.0  ...  36.6  formerly smoked      1
1     51676  Female  61.0  ...   NaN     never smoked      1
2     31112    Male  80.0  ...  32.5     never smoked      1
3     60182  Female  49.0  ...  34.4           smokes      1
4      1665  Female  79.0  ...  24.0     never smoked      1
...     ...     ...   ...  ...   ...              ...    ...
5105  18234  Female  80.0  ...   NaN     never smoked      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[5110 rows x 12 columns]

## Data Cleaning

In [ ]:
heart_stroke_df

         id  gender   age  ...   bmi   smoking_status stroke
0      9046    Male  67.0  ...  36.6  formerly smoked      1
1     51676  Female  61.0  ...   NaN     never smoked      1
2     31112    Male  80.0  ...  32.5     never smoked      1
3     60182  Female  49.0  ...  34.4           smokes      1
4      1665  Female  79.0  ...  24.0     never smoked      1
...     ...     ...   ...  ...   ...              ...    ...
5105  18234  Female  80.0  ...   NaN     never smoked      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[5110 rows x 12 columns]

In [ ]:
# replace yes with 1 and no with 0
heart_stroke_df["ever_married"] = heart_stroke_df["ever_married"].replace("Yes", 1)
heart_stroke_df["ever_married"] = heart_stroke_df["ever_married"].replace("No", 0)

In [ ]:
#one hot encode data
genderDF = pd.get_dummies(heart_stroke_df["gender"])
workTypeDF = pd.get_dummies(heart_stroke_df["work_type"])
residenceTypeDF = pd.get_dummies(heart_stroke_df["Residence_type"])
smokingStatuesDF = pd.get_dummies(heart_stroke_df["smoking_status"])

In [ ]:
#drop columns that are going to be one hot encoded
heart_stroke_df = heart_stroke_df.drop(["id", "gender", "work_type", "Residence_type", "smoking_status"], axis=1)

In [ ]:
#merge the one hot encoded data together with main dataset
adjusted_df = genderDF.join([workTypeDF, residenceTypeDF, smokingStatuesDF])
heart_stroke_df = adjusted_df.join(heart_stroke_df)
heart_stroke_df

      Female  Male  Other  ...  avg_glucose_level   bmi  stroke
0          0     1      0  ...             228.69  36.6       1
1          1     0      0  ...             202.21   NaN       1
2          0     1      0  ...             105.92  32.5       1
3          1     0      0  ...             171.23  34.4       1
4          1     0      0  ...             174.12  24.0       1
...      ...   ...    ...  ...                ...   ...     ...
5105       1     0      0  ...              83.75   NaN       0
5106       1     0      0  ...             125.20  40.0       0
5107       1     0      0  ...              82.99  30.6       0
5108       0     1      0  ...             166.29  25.6       0
5109       1     0      0  ...              85.28  26.2       0

[5110 rows x 21 columns]

In [ ]:
#check for null values
heart_stroke_df.isna().sum().sum()

201

In [ ]:
#drop null rows
heart_stroke_df = heart_stroke_df.dropna()
heart_stroke_df

      Female  Male  Other  ...  avg_glucose_level   bmi  stroke
0          0     1      0  ...             228.69  36.6       1
2          0     1      0  ...             105.92  32.5       1
3          1     0      0  ...             171.23  34.4       1
4          1     0      0  ...             174.12  24.0       1
5          0     1      0  ...             186.21  29.0       1
...      ...   ...    ...  ...                ...   ...     ...
5104       1     0      0  ...             103.08  18.6       0
5106       1     0      0  ...             125.20  40.0       0
5107       1     0      0  ...              82.99  30.6       0
5108       0     1      0  ...             166.29  25.6       0
5109       1     0      0  ...              85.28  26.2       0

[4909 rows x 21 columns]

In [ ]:
#reset index
heart_stroke_df = heart_stroke_df.reset_index()
heart_stroke_df

      index  Female  Male  Other  ...  ever_married  avg_glucose_level   bmi  stroke
0         0       0     1      0  ...             1             228.69  36.6       1
1         2       0     1      0  ...             1             105.92  32.5       1
2         3       1     0      0  ...             1             171.23  34.4       1
3         4       1     0      0  ...             1             174.12  24.0       1
4         5       0     1      0  ...             1             186.21  29.0       1
...     ...     ...   ...    ...  ...           ...                ...   ...     ...
4904   5104       1     0      0  ...             0             103.08  18.6       0
4905   5106       1     0      0  ...             1             125.20  40.0       0
4906   5107       1     0      0  ...             1              82.99  30.6       0
4907   5108       0     1      0  ...             1             166.29  25.6       0
4908   5109       1     0      0  ...             1              85.28  26.2       0

[4909 rows x 22 columns]

In [1]:
#drop stroke column
heart_stroke_df.drop(columns=["stroke"], axis=1, inplace=true)

NameError: ignored

PCA

In [ ]:
#scaling data
heart_stroke_df_scaled = StandardScaler().fit_transform(heart_stroke_df)
heart_stroke_df_scaled

array([[-1.74996918, -1.19994201,  1.20044746, ...,  2.77769839,
         0.98134488,  4.74215545],
       [-1.74860918, -1.19994201,  1.20044746, ...,  0.0138418 ,
         0.45926914,  4.74215545],
       [-1.74792918,  0.8333736 , -0.83302272, ...,  1.48413156,
         0.70120668,  4.74215545],
       ...,
       [ 1.72277553,  0.8333736 , -0.83302272, ..., -0.50236926,
         0.21733161, -0.21087457],
       [ 1.72345553, -1.19994201,  1.20044746, ...,  1.37291993,
        -0.41934612, -0.21087457],
       [ 1.72413552,  0.8333736 , -0.83302272, ..., -0.45081569,
        -0.34294479, -0.21087457]])

In [ ]:
#covariance matrix
attributes = heart_stroke_df_scaled.T
covariance_matrix = np.cov(attributes)
covariance_matrix

array([[ 1.00020375e+00,  1.27426720e-02, -1.28964829e-02,
         5.26679740e-03,  2.53685437e-02,  6.51960497e-03,
        -4.10742740e-02, -1.06716854e-02,  4.45106322e-02,
        -2.07017321e-02,  2.07017321e-02,  3.66323924e-02,
        -1.51171234e-02, -8.21927027e-03, -2.00205017e-02,
        -9.81783239e-02, -6.24486303e-02, -6.86481738e-02,
        -5.15462516e-02, -7.10746383e-02, -4.51639255e-02,
        -3.51071087e-01],
       [ 1.27426720e-02,  1.00020375e+00, -9.99782619e-01,
        -1.71315422e-02,  1.51258237e-02, -1.22999597e-02,
         3.86190242e-02,  2.23163042e-02, -9.16379759e-02,
        -4.59906393e-03,  4.59906393e-03, -5.79052883e-02,
        -3.96001774e-02,  9.40704744e-02, -1.15210927e-02,
         3.04628787e-02, -2.17342582e-02, -8.28989600e-02,
         3.67105396e-02, -5.33692356e-02,  2.63657284e-02,
        -6.85230380e-03],
       [-1.28964829e-02, -9.99782619e-01,  1.00020375e+00,
        -1.18930446e-02, -1.49679971e-02,  1.23286933e-02,
        -3.89798958e-02, -2.21386103e-02,  9.18098009e-02,
         4.17905970e-03, -4.17905970e-03,  5.81822799e-02,
         3.86893385e-02, -9.37551424e-02,  1.16961069e-02,
        -3.01553607e-02,  2.18676908e-02,  8.29998118e-02,
        -3.61453706e-02,  5.30186226e-02, -2.60251666e-02,
         6.94019367e-03],
       [ 5.26679740e-03, -1.71315422e-02, -1.18930446e-02,
         1.00020375e+00, -5.47816782e-03, -9.57913672e-04,
         1.23341300e-02, -6.18161305e-03, -5.68089791e-03,
         1.44849814e-02, -1.44849814e-02, -9.39318979e-03,
         3.14903405e-02, -1.11124283e-02, -6.00064307e-03,
        -1.06765605e-02, -4.54103072e-03, -3.25811921e-03,
        -1.95713265e-02,  1.22215689e-02, -1.18044866e-02,
        -3.01065101e-03],
       [ 2.53685437e-02,  1.51258237e-02, -1.49679971e-02,
        -5.47816782e-03,  1.00020375e+00, -2.57500324e-02,
        -4.44237576e-01, -1.66170231e-01, -1.52710322e-01,
        -1.02890420e-02,  1.02890420e-02, -9.86035145e-02,
         3.01015984e-02,  4.69072396e-02,  3.14082128e-02,
         1.33620127e-01,  1.92355652e-02,  5.09569010e-03,
         1.37943202e-01,  1.77263601e-02,  7.95998244e-02,
         3.55388259e-03],
       [ 6.51960497e-03, -1.22999597e-02,  1.23286933e-02,
        -9.57913672e-04, -2.57500324e-02,  1.00020375e+00,
        -7.76794836e-02, -2.90565645e-02, -2.67029617e-02,
        -2.34349967e-02,  2.34349967e-02,  8.99398275e-03,
        -3.04254838e-02,  3.58729019e-02, -2.82059183e-02,
        -7.94001902e-02, -2.13450358e-02, -1.53147326e-02,
        -9.19946796e-02, -1.39935042e-02, -2.86078697e-02,
        -1.41515126e-02],
       [-4.10742740e-02,  3.86190242e-02, -3.89798958e-02,
         1.23341300e-02, -4.44237576e-01, -7.76794836e-02,
         1.00020375e+00, -5.01281612e-01, -4.60677438e-01,
         1.71585184e-02, -1.71585184e-02, -2.14556483e-01,
         2.48774814e-02,  1.10893451e-01,  9.91353990e-02,
         1.20045761e-01, -4.63759838e-03, -2.79265320e-04,
         1.56850414e-01,  9.27474413e-03,  2.08071292e-01,
         1.49368716e-02],
       [-1.06716854e-02,  2.23163042e-02, -2.21386103e-02,
        -6.18161305e-03, -1.66170231e-01, -2.90565645e-02,
        -5.01281612e-01,  1.00020375e+00, -1.72319679e-01,
        -1.21779701e-02,  1.21779701e-02, -1.07247134e-01,
         9.63731619e-02,  2.95347715e-02, -3.68036488e-03,
         3.27413745e-01,  1.11817179e-01,  8.15008850e-02,
         1.91508409e-01,  6.90647753e-02,  7.27156739e-02,
         5.53669565e-02],
       [ 4.45106322e-02, -9.16379759e-02,  9.18098009e-02,
        -5.68089791e-03, -1.52710322e-01, -2.67029617e-02,
        -4.60677438e-01, -1.72319679e-01,  1.00020375e+00,
         2.79084624e-03, -2.79084624e-03,  5.17073828e-01,
        -1.61512235e-01, -2.43692627e-01, -1.63953968e-01,
        -6.35066106e-01, -1.26586532e-01, -8.80894619e-02,
        -5.45573571e-01, -1.01202666e-01, -4.48764974e-01,
        -8.09876415e-02],
       [-2.07017321e-02, -4.59906393e-03,  4.17905970e-03,
         1.44849814e-02, -1.02890420e-02, -2.34349967e-02,
         1.71585184e-02, -1.21779701e-02,  2.79084624e-03,
         1.00020375e+00, -1.00020375e+00,  6.41219291e-03,
        -5.90290318e-03,  2.13505407e-02, -3.09993390e-02,
        -1.09503450e-02,  1.07436503e-03,  2.36222512e-03,
        -4.99018768e-03,  7.61809388e-03,  1.22466140e-04,
        -6.03265536e-03],
       [ 2.07017321e-02,  4.59906393e-03, -4.17905970e-03,
        -1.44849814e-02,  1.02890420e-02,  2.34349967e-02,
        -1.71585184e-02,  1.21779701e-02, -2.79084624e-03,
        -1.00020375e+00,  1.00020375e+00, -6.41219291e-03,
         5.90290318e-03, -2.13505407e-02,  3.09993390e-02,
         1.09503450e-02, -1.07436503e-03, -2.36222512e-03,
         4.99018768e-03, -7.61809388e-03, -1.22466140e-04,
         6.03265536e-03],
       [ 3.66323924e-02, -5.79052883e-02,  5.81822799e-02,
        -9.39318979e-03, -9.86035145e-02,  8.99398275e-03,
        -2.14556483e-01, -1.07247134e-01,  5.17073828e-01,
         6.41219291e-03, -6.41219291e-03,  1.00020375e+00,
        -2.98348747e-01, -5.12198316e-01, -2.76583946e-01,
        -3.89655997e-01, -1.43248630e-01, -7.44836162e-02,
        -3.38238323e-01, -1.03245934e-01, -2.70394905e-01,
        -7.50308534e-02],
       [-1.51171234e-02, -3.96001774e-02,  3.86893385e-02,
         3.14903405e-02,  3.01015984e-02, -3.04254838e-02,
         2.48774814e-02,  9.63731619e-02, -1.61512235e-01,
        -5.90290318e-03,  5.90290318e-03, -2.98348747e-01,
         1.00020375e+00, -3.52955614e-01, -1.90593865e-01,
         2.42453051e-01,  6.20904696e-02,  7.13534812e-02,
         1.76043055e-01,  7.42649566e-02,  1.07052365e-01,
         5.73313900e-02],
       [-8.21927027e-03,  9.40704744e-02, -9.37551424e-02,
        -1.11124283e-02,  4.69072396e-02,  3.58729019e-02,
         1.10893451e-01,  2.95347715e-02, -2.43692627e-01,
         2.13505407e-02, -2.13505407e-02, -5.12198316e-01,
        -3.52955614e-01,  1.00020375e+00, -3.27207194e-01,
         1.24401893e-01,  6.67301382e-02, -2.06887410e-02,
         1.05274453e-01,  3.20913732e-02,  1.07985979e-01,
         1.07253798e-02],
       [-2.00205017e-02, -1.15210927e-02,  1.16961069e-02,
        -6.00064307e-03,  3.14082128e-02, -2.82059183e-02,
         9.91353990e-02, -3.68036488e-03, -1.63953968e-01,
        -3.09993390e-02,  3.09993390e-02, -2.76583946e-01,
        -1.90593865e-01, -3.27207194e-01,  1.00020375e+00,
         7.68171091e-02,  2.82200740e-02,  4.86956395e-02,
         1.06595500e-01,  1.09834006e-02,  8.83420294e-02,
         2.15348119e-02],
       [-9.81783239e-02,  3.04628787e-02, -3.01553607e-02,
        -1.06765605e-02,  1.33620127e-01, -7.94001902e-02,
         1.20045761e-01,  3.27413745e-01, -6.35066106e-01,
        -1.09503450e-02,  1.09503450e-02, -3.89655997e-01,
         2.42453051e-01,  1.24401893e-01,  7.68171091e-02,
         1.00020375e+00,  2.74480787e-01,  2.57175165e-01,
         6.80920361e-01,  2.35886207e-01,  3.33465925e-01,
         2.32378193e-01],
       [-6.24486303e-02, -2.17342582e-02,  2.18676908e-02,
        -4.54103072e-03,  1.92355652e-02, -2.13450358e-02,
        -4.63759838e-03,  1.11817179e-01, -1.26586532e-01,
         1.07436503e-03, -1.07436503e-03, -1.43248630e-01,
         6.20904696e-02,  6.67301382e-02,  2.82200740e-02,
         2.74480787e-01,  1.00020375e+00,  1.16014625e-01,
         1.62439351e-01,  1.80579485e-01,  1.67844776e-01,
         1.42543643e-01],
       [-6.86481738e-02, -8.28989600e-02,  8.29998118e-02,
        -3.25811921e-03,  5.09569010e-03, -1.53147326e-02,
        -2.79265320e-04,  8.15008850e-02, -8.80894619e-02,
         2.36222512e-03, -2.36222512e-03, -7.44836162e-02,
         7.13534812e-02, -2.06887410e-02,  4.86956395e-02,
         2.57175165e-01,  1.16014625e-01,  1.00020375e+00,
         1.11267787e-01,  1.54556604e-01,  4.13658694e-02,
         1.37965892e-01],
       [-5.15462516e-02,  3.67105396e-02, -3.61453706e-02,
        -1.95713265e-02,  1.37943202e-01, -9.19946796e-02,
         1.56850414e-01,  1.91508409e-01, -5.45573571e-01,
        -4.99018768e-03,  4.99018768e-03, -3.38238323e-01,
         1.76043055e-01,  1.05274453e-01,  1.06595500e-01,
         6.80920361e-01,  1.62439351e-01,  1.11267787e-01,
         1.00020375e+00,  1.51408220e-01,  3.41764272e-01,
         1.05110556e-01],
       [-7.10746383e-02, -5.33692356e-02,  5.30186226e-02,
         1.22215689e-02,  1.77263601e-02, -1.39935042e-02,
         9.27474413e-03,  6.90647753e-02, -1.01202666e-01,
         7.61809388e-03, -7.61809388e-03, -1.03245934e-01,
         7.42649566e-02,  3.20913732e-02,  1.09834006e-02,
         2.35886207e-01,  1.80579485e-01,  1.54556604e-01,
         1.51408220e-01,  1.00020375e+00,  1.75537935e-01,
         1.38964170e-01],
       [-4.51639255e-02,  2.63657284e-02, -2.60251666e-02,
        -1.18044866e-02,  7.95998244e-02, -2.86078697e-02,
         2.08071292e-01,  7.27156739e-02, -4.48764974e-01,
         1.22466140e-04, -1.22466140e-04, -2.70394905e-01,
         1.07052365e-01,  1.07985979e-01,  8.83420294e-02,
         3.33465925e-01,  1.67844776e-01,  4.13658694e-02,
         3.41764272e-01,  1.75537935e-01,  1.00020375e+00,
         4.23822947e-02],
       [-3.51071087e-01, -6.85230380e-03,  6.94019367e-03,
        -3.01065101e-03,  3.55388259e-03, -1.41515126e-02,
         1.49368716e-02,  5.53669565e-02, -8.09876415e-02,
        -6.03265536e-03,  6.03265536e-03, -7.50308534e-02,
         5.73313900e-02,  1.07253798e-02,  2.15348119e-02,
         2.32378193e-01,  1.42543643e-01,  1.37965892e-01,
         1.05110556e-01,  1.38964170e-01,  4.23822947e-02,
         1.00020375e+00]])

In [ ]:
#eigendecomposition
x,y = np.linalg.eig(covariance_matrix)
print(x,y)

[ 3.47090674e+00  2.09491093e+00  2.01038223e+00  1.70803782e+00
  2.34073517e-01  4.19093760e-01  1.43487031e+00  1.36701322e+00
  6.17376738e-01  6.97441511e-01  1.20998452e+00  1.12981477e+00
  8.07682060e-01  8.62623217e-01  9.12278918e-01  1.02805838e+00
  9.90299854e-01  1.00963398e+00 -4.26936961e-15 -1.69153944e-15
 -5.57590265e-16 -3.90667128e-17] [[ 8.17398593e-02 -7.88439913e-02  3.46312134e-02 -4.93441792e-02
  -7.33363554e-03  2.25622695e-02 -3.47111659e-01 -4.32100458e-01
   5.71169837e-01 -3.27093347e-01  1.89060922e-01  1.64635261e-01
  -7.98019443e-02  4.96274700e-02 -1.54990325e-01 -3.27785325e-01
  -9.74762273e-02 -1.72730976e-01  2.70888040e-16 -1.19309598e-16
   1.01194032e-16  1.53325406e-17]
 [-6.20483556e-02 -6.34700578e-01  4.20680906e-02  2.13626687e-01
   3.21792211e-03  1.70427529e-02  1.89581315e-01 -1.37771324e-02
  -8.93175478e-03  1.47913020e-02 -1.83165746e-03 -1.28815285e-02
   1.02154139e-02  1.51330936e-02 -3.88751279e-02 -5.37405411e-02
  -5.04416921e-02 -4.35309795e-02 -1.02915977e-02  6.36799599e-03
  -6.97011468e-01 -7.59703788e-02]
 [ 6.19649195e-02  6.34639886e-01 -4.14570521e-02 -2.13257992e-01
  -3.37048401e-03 -1.78508791e-02 -1.90379374e-01  1.48062998e-02
   8.96448426e-03 -1.51893284e-02 -1.01264416e-03  1.65285981e-02
  -7.80639472e-03 -1.04825549e-02  3.70251891e-02  4.99006498e-02
   3.13002908e-02  6.36632737e-02 -1.02908155e-02  6.36751199e-03
  -6.96958492e-01 -7.59646047e-02]
 [ 3.03764975e-03  3.75382375e-03 -2.11659743e-02 -1.32643886e-02
   5.24870527e-03  2.78026000e-02  2.70037664e-02 -3.54280189e-02
  -1.10443142e-03  1.36768598e-02  9.80166498e-02 -1.25640714e-01
  -8.30392020e-02 -1.60292653e-01  6.38489051e-02  1.32459659e-01
   6.59726093e-01 -6.93625153e-01 -2.98639220e-04  1.84785046e-04
  -2.02257188e-02 -2.20449102e-03]
 [-6.87901605e-02  2.29755107e-02  3.76188865e-02  2.70096364e-01
  -8.15418093e-02 -2.03266853e-01 -3.17149856e-01 -1.74563770e-01
  -1.51640115e-02  5.53223784e-03 -5.19687166e-01 -5.25794844e-01
  -4.89298698e-02 -4.02435875e-02 -4.48039205e-02 -7.57748486e-02
   1.91801745e-03  1.63825246e-03  7.59077322e-02 -4.21096836e-01
   6.75185628e-02  1.57511103e-02]
 [ 4.22468803e-02 -9.31192557e-03  3.03002468e-02 -9.83097018e-03
   2.88811828e-02  8.65394624e-02 -1.30294540e-01  1.13251004e-01
  -3.63826872e-02 -9.23358176e-02  5.27166418e-03  5.60370439e-03
  -1.05888115e-01 -1.75899050e-01  3.96686622e-02  4.78450363e-01
  -6.57430029e-01 -4.86758666e-01  1.51592288e-02 -8.40955607e-02
   1.34838615e-02  3.14559109e-03]
 [-1.64528130e-01 -1.32490646e-01 -6.83766906e-02 -6.47594902e-01
  -5.05874720e-02 -1.49682906e-01  2.45503541e-01  3.06915751e-02
  -2.17419182e-02 -8.84425740e-02  1.45079372e-01 -1.90429956e-02
  -6.81275595e-02 -4.77304802e-02 -4.19413095e-02 -7.84450844e-02
  -2.00364912e-02  1.81699396e-02  1.12273630e-01 -6.22836027e-01
   9.98653748e-02  2.32971567e-02]
 [-1.37643909e-01  9.61599195e-02  4.56323855e-02  4.80660068e-01
  -1.87794257e-01 -2.11489637e-01 -9.51021022e-02 -1.00604340e-02
   4.27276837e-02  9.75958888e-02  2.68467299e-01  5.11551507e-01
   1.02882405e-01 -3.19740811e-02  9.37291724e-02  2.17876130e-01
   1.15062978e-01  7.81264619e-02  8.27524168e-02 -4.59067606e-01
   7.36067867e-02  1.71714055e-02]
 [ 4.41799141e-01  6.81722067e-02  7.51406825e-03  1.61342423e-01
   3.45959521e-01  6.21123126e-01  8.15217286e-02  1.14421688e-01
   7.79635568e-03  3.63414402e-02  1.10752374e-02 -4.70932111e-03
   5.71363466e-02  1.76060053e-01 -3.17838034e-03 -1.37546760e-01
   3.26870809e-02 -1.60413914e-02  7.79626037e-02 -4.32496201e-01
   6.93463341e-02  1.61775031e-02]
 [ 5.01480323e-03 -2.17968516e-02 -7.00172768e-01  6.83148696e-02
   3.03639560e-03  1.68081768e-03  2.65358404e-03 -4.92211564e-02
   1.06951244e-02 -8.98319608e-03 -2.46952367e-02  1.81969350e-02
  -2.90233143e-03  5.20751446e-03 -1.69984942e-03  1.89450977e-02
  -2.43348863e-02 -4.84904051e-03 -3.83430719e-03 -1.75956765e-02
   2.65208852e-02 -7.02529599e-01]
 [-5.01480323e-03  2.17968516e-02  7.00172768e-01 -6.83148696e-02
  -3.03639560e-03 -1.68081768e-03 -2.65358404e-03  4.92211564e-02
  -1.06951244e-02  8.98319608e-03  2.46952367e-02 -1.81969350e-02
   2.90233143e-03 -5.20751446e-03  1.69984942e-03 -1.89450977e-02
   2.43348863e-02  4.84904051e-03 -3.83430719e-03 -1.75956765e-02
   2.65208852e-02 -7.02529599e-01]
 [ 3.65464897e-01  6.38062988e-02  4.50370758e-03  1.26521538e-01
  -3.99736865e-02 -1.73923303e-01  2.25750235e-01 -4.92084121e-03
  -1.19631321e-02 -5.34679022e-02  3.91044937e-02  5.34669110e-03
  -2.24611649e-01 -5.58791792e-01  1.72324072e-01 -2.50565493e-01
  -7.18096657e-02  6.04134102e-02 -5.34405239e-01 -9.27801024e-02
   2.21778087e-02 -9.07388332e-05]
 [-1.51806008e-01  1.43441356e-01  1.34194948e-02  1.21226672e-01
  -3.28588395e-02  3.60641587e-02  2.14648455e-01 -3.35728150e-01
   2.25222728e-04  6.82324909e-02  4.50430714e-01 -4.39360839e-01
   9.33122953e-02  3.50794027e-01 -6.53567997e-02  1.87832443e-01
  -1.02454243e-01  8.83404181e-03 -4.37696492e-01 -7.59901333e-02
   1.81643973e-02 -7.43182628e-05]
 [-1.59186256e-01 -1.99543361e-01 -4.83663752e-02 -1.18586781e-01
   2.64134101e-02  9.02215684e-02 -5.44103090e-01  4.93234246e-01
   9.75080915e-03  1.92237291e-02  5.15734930e-02  2.11880461e-02
   6.12263661e-02  8.93324269e-02 -1.04142301e-01 -1.50374888e-02
   1.18242052e-01  3.52520812e-02 -5.64124112e-01 -9.79397077e-02
   2.34111415e-02 -9.57849212e-05]
 [-9.39564260e-02  3.77287845e-02  4.57126617e-02 -1.29354335e-01
   5.01379686e-02  6.31759732e-02  2.22135712e-01 -3.09499636e-01
   1.90968395e-03 -2.91923522e-02 -5.94479308e-01  4.26950929e-01
   1.07405786e-01  2.27756372e-01 -1.13902073e-02  1.44740059e-01
   3.97279353e-02 -1.34794926e-01 -4.15730939e-01 -7.21766111e-02
   1.72528272e-02 -7.05886424e-05]
 [-4.46545676e-01  8.93124127e-02  1.22464637e-02  1.40534789e-01
   7.95804298e-01 -8.93817103e-02  2.46883233e-02 -4.21608823e-02
  -7.83795962e-02 -2.29914955e-01  5.16328904e-02  3.04433496e-02
  -1.26109756e-01 -1.99471932e-01 -7.13595105e-02 -1.81778914e-02
   2.13034103e-02  6.98101116e-02 -7.12961042e-16  1.93657500e-15
  -9.49733133e-16 -1.21587418e-16]
 [-1.83297894e-01  1.07886363e-01 -3.80411751e-03  1.28602337e-01
  -9.57281864e-02 -5.08262976e-02  5.73102837e-02  1.79342114e-01
  -1.35188579e-01 -9.57649174e-03 -2.20325241e-03  8.68448611e-02
  -6.12943793e-01  4.62575582e-01  3.05223826e-01 -3.56799481e-01
  -1.10380819e-01 -2.06813770e-01  4.36979177e-16 -6.60644008e-16
   1.45576108e-16  1.46113734e-17]
 [-1.30718370e-01  1.84594449e-01 -5.72499440e-03  1.06318112e-01
  -1.13009094e-01  3.65000321e-02  1.66833216e-01  1.23557127e-01
   1.13903210e-02  3.50196780e-01 -2.42600558e-02  8.67408598e-02
  -1.16123845e-01 -1.19377696e-01 -7.95163676e-01 -2.18463238e-01
  -9.76952701e-02 -1.79239034e-01 -2.99933024e-16 -5.50067225e-18
   3.98709269e-16  2.22782710e-17]
 [-3.98334325e-01  3.84252643e-02  6.49039899e-03  4.64149151e-02
  -3.87386044e-01  6.29387123e-01 -2.50006974e-02 -1.52137159e-01
  -2.05211258e-01 -2.97549863e-01 -2.62508613e-03  1.86923812e-03
  -1.16472740e-01 -3.11850330e-01  3.29567087e-02 -2.42724333e-02
   4.70808722e-02  1.49410671e-01  1.10005378e-15 -2.21379292e-16
  -4.05375441e-16 -3.69066023e-17]
 [-1.63242002e-01  1.46609567e-01 -1.60510340e-02  9.65814106e-02
  -6.66253213e-02 -7.93781167e-02  1.08506208e-01  1.75724769e-01
  -1.29538958e-01 -2.32384090e-01  8.85935440e-03 -2.44882916e-02
   6.74516217e-01 -6.37704312e-03  1.44235261e-01 -4.56030787e-01
  -1.70304030e-01 -3.23472491e-01 -8.08618503e-17 -7.29314638e-17
   1.95346464e-17  5.63076939e-17]
 [-3.04540451e-01  2.06480332e-04 -9.84081422e-03 -1.00515690e-01
   9.83427741e-02  1.93734960e-01 -3.58068838e-02 -9.29044070e-02
   3.64546235e-01  6.79846824e-01 -2.88852864e-02 -2.92603394e-02
   7.22475607e-02 -2.08870108e-01  3.96429431e-01 -1.44500688e-01
  -1.21171064e-01 -3.99391624e-02  3.57928229e-16  7.52303544e-16
  -3.86378590e-16 -8.84078433e-17]
 [-1.37555266e-01  1.12224365e-01 -3.14350894e-03  1.29498582e-01
  -9.78512815e-02  2.86693523e-02  3.53870451e-01  4.30899610e-01
   6.72967449e-01 -2.75556041e-01 -1.59421255e-01 -1.55538339e-01
  -3.41813265e-02  2.23675685e-02  1.87171929e-02  1.94113017e-01
   6.57760492e-02  8.92183558e-02  1.00533115e-15 -3.66424192e-16
   2.48286749e-16  5.34405133e-17]]